extends ../layout/index

block contenido 
    div.py-10 
        h1.text-4xl.my-8.font-extrabold.text-center At 
            span.font-normal Home
        h2.text-center.text-2xl.font-extrabold= pagina 

        div.mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Nombre 
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre" type="text" name="nombre")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="apellido") Apellido
                        input#apellido.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Apellido" type="apellido" name="apellido")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Password" type="text" name="password")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="confirmar_password") Confirmar Password
                        input#confirmar_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Confirma tu Password" type="text" name="confirmar_password")

                    input( class="w-full bg-indigo-700 hover:bg-indigo-500 text-white font-bold py-2 cursor-pointer rounded-md" type="submit" value="Crear Cuenta")       