@tailwind base;
@tailwind components;
@tailwind utilities;

#inmueble {
  background-color: #0e7490;
  color: #fff;
}
#categoria-popup {
  color: #0e7490;
}
#enlace-contacto {
  color: #0e7490;
  font-weight: 700;
}
